*{
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6em; /*Chromeの一部バージョンで発生したバグ対策でremではなくここではem*/
}
.wrapper{
    width: 960px;
    margin: 0 auto;
}
.main_rogo{
    width: 100%;
    height: 100px;
    text-align: left;
    background-color: #434343;
    img{
        margin: 30px 0 0 30px;
    }
}
.menu{
    background-color: #434343;
    width: 100%;
    ul{
        width: 80%;
        height: 50px;
        list-style: none;
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items:center;
        margin: 0 auto;
        li{
            width: 50%;
            font-size: 2.5rem;
            color: #fff;
            font-weight: bold;
        }
        a{
            color: #fff;
            text-decoration: none;
        }
    }
}

.menu a:hover{
    background-color: #fff;
    color: #000;
}

// スライドのスタイルーーーーーーーーーーー
.main_slid{
    position: relative;
    height: 500px;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    ul{
        list-style: none;

        img{
            width: 100%;
            height: 500px;
        }
        li{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            animation-iteration-count: infinite;
            animation-duration: 28s;
        }
    }
}
// アニメーション開始時間の設定ーーーーーーーーーーー
.main_slid ul li:nth-child(1){
    animation-name: main_slid;
    animation-delay: -1s;
}
.main_slid ul li:nth-child(2){
    animation-name: main_slid;
    animation-delay: 6s;
    opacity: 0;
}
.main_slid ul li:nth-child(3){
    animation-name: main_slid;
    animation-delay: 13s;
    opacity: 0;
}
.main_slid ul li:nth-child(4){
    animation-name: main_slid;
    animation-delay: 20s;
    opacity: 0;
}

// フェードイン・アウトの設定ーーーーーーーーーーーーーーーー
@keyframes main_slid{
    0%{
        opacity: 0;
    }
    3.57%{
        opacity: 1;
    }
    25%{
        opacity: 1;
    }
    32.14%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
// メインーーーーーーーーーーーーーーーーーーーーーーーーー
.main{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
// ボタン共通設定ーーーーーーーーーーーーーーーーーー
.button_hover{
    button:hover{
        opacity: 0.5 ;
    }
}
// 左側ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
.side_left{

    width: 15%;
    background-color: #C6C6C6;
    text-align: center;
    img{
        width: 100%;
        vertical-align: bottom;
    }
}
.side_left_cont_box{
    position: sticky;
    top: 20px;
}
.side_left_cont{
    margin-top: 30px;
}
.side_left_cont_itm{
    width: 85%;
    text-align: center;
    margin: 0 auto;
    border: solid 1px #000;
    background-color: #fff;
}
.side_left_p1{
    font-size: 1.0rem;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
    border-top: solid 1px #000;
}
.side_left_p2{
    font-size: 0.3rem;
    font-weight: bold;
    text-align: right;
    padding-right: 5px;
}

// 右側ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
.side_right{
    width: 85%;
    margin: 0 auto;
    background-color: #fff;
}
// 画像集合ーーーーーーーーーーcont1"ーーーーーーーーーーーーーー
.side_right_cont1{
    width: 92%;
    margin: 0 auto;
    padding-top: 80px;
    text-align: center;
}
.side_right_cont1_box{
    width: 92%;
    margin: 0 auto;
}
.side_right_cont1_itm{
    margin: 0 auto;
    float: left;
    img{
        vertical-align: bottom;
    }
}

.youtube_box{
    clear: left;
    width: 92%;
    margin: 0 auto;
    .youtube_itm{
        text-align: center;
        margin: 0 auto;
        iframe{
            width: 92%;
            margin: 0 auto;
            text-align: center;
            padding-top: 90px;
            padding-bottom: 90px;
        }
    
    }
}

// 新着情報ーーーーーーーーーcont2"ーーーーーーーーーーーーーー
.side_right_cont2{
    width: 100%;
    height: 350px;
    background-color:#7B7B7B;
    color: #fff;
}
.side_right_cont2_box{
    display: table;
    table-layout:fixed;
    border-collapse: collapse;
    width: 70%;
    height: 350px;
}
.side_right_cont2_itm{
    display: table-cell;
    vertical-align: middle;
    width: 70%;
    .cont2_itm_list{
        width: 100%;
        padding-left: 80px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-left: solid 3px #fff;
        li{
            padding-top: 20px;
            font-size: 1.8rem;
            font-weight: bold;
        }
    }
 }
.side_right_cont2_itm p{
        font-size: 2.7rem;
        letter-spacing: 0.1em;
        font-weight: bold;
        text-align: center;
        width: 70%;
        .under{
            border-bottom: solid 2px #fff;
        }
    }

// 赤平いいとこいちどはおいでーーーcont3"ーーーーーーーーーーーーーー
.side_right_cont3{
    width: 85%;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 70px;
}
.side_right_cont3_img{
    width: 50%;
    img{
        width: 100%;
        vertical-align: bottom;
    }
}
.side_right_cont3_box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.side_right_cont3_itm{
    padding-left: 30px;
    width: 80%;
}
.side_right_cont3_itm_ribbon{
    width: 100%;
    position: relative;
    background-color: #b0824d;
    padding: 13px 0 13px 0;
    p{
        font-size: 1.9rem;
        color: #fff;
        font-weight: bold;
        padding-left: 10px;
        letter-spacing: 0.1em;
    }
}
.side_right_cont3_itm_ribbon::after{
    content: "";
    position:absolute;
    top:0;
    right:0;
    width:0;
    height:0;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
    border-width: 25px 15px 25px 15px;
}
.side_right_cont3_itm_text{
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    p{
        font-size: 2.0rem;
    }
}
.side_right_cont3_itm_button{
    display: flex;
    justify-content: space-between;
    width: 100%;
    button{
        width: 150px;
        padding-top: 10px;
        padding-bottom: 10px;

        background-color: #A29453;
        font-size: 1.7rem;
        color: #fff;
        font-weight: bold;
        letter-spacing: 0.1em;
        border: none;
        box-shadow: 2px 2px 4px#434343;
    }
    
}
// cont4----------------------------------------------------------
.side_right_cont4{
    background-color: #7B7B7B;
}
.side_right_cont4_wrapper{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 80px;
}
.side_right_cont4_box{
    width: 90%;
}
.side_right_cont4_itm{
    width: 90%;
    margin: 0 auto;
    img{
        vertical-align: bottom;
        object-fit: cover;
        width: 100%;
        height: 250px;
    }
}
.side_right_cont4_p{
    font-size: 1.6rem;
    font-weight: bold;
    text-align: left;
    padding-left: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
}
// ピンクボタンーーーーーーーーーーーーーーーーーーーーーーー
.cont4_itm_button{
    position: relative;
    padding: 60px 0 60px 0;
}
.cont4_itm_button_up{
    position: absolute;
    top: 36.3%;
    left: 10%;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    
    button{
        width: 400px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        margin: 0 auto;
        background-color: #EB68A0;
        font-size: 1.7rem;
        color: #fff;
        font-weight: bold;
        letter-spacing: 0.1em;
        border: 5px outset #EB68A0;
        border-radius: 30px;
    }
}
.cont4_itm_button_under{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    button{
        width: 407px;
        padding-top: 18px;
        padding-bottom: 18px;
        text-align: center;
        margin: 0 auto;
        color: #fff;
        background-color: #fff;
        border-radius: 30px;
        border: none;
        font-weight: bold;
        letter-spacing: 0.1em;
        font-size: 1.7rem;
    }
}
// 東京の空も悪くないーーーcont5"ーーーーーーーーーーーーーー
.side_right_cont5{
    width: 85%;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
}
.side_right_cont5_img{
    width: 50%;
    img{
        width: 100%;
        vertical-align: bottom;
    }
}
.side_right_cont5_box{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 0 auto;
}
.side_right_cont5_itm{
    padding-right: 30px;
    width: 80%;
}
.side_right_cont5_itm_ribbon{
    position: relative;
    background-color: #b0824d;
    padding: 13px 0 13px 0;
    p{
        color: #fff;
        font-size: 2.0rem;
        font-weight: bold;
        padding-left: 10px;
        letter-spacing: 0.1em;
    }
}
.side_right_cont5_itm_ribbon::after{
    content: "";
    position:absolute;
    top:0;
    right:0;
    width:0;
    height:0;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
    border-width: 25px 15px 25px 15px;
}
.side_right_cont5_itm_text{
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    p{
        font-size: 1.9rem;
    }
}
.side_right_cont5_itm_button{
    width: 100%;
    button{
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #A29453;
        font-size: 1.7rem;
        color: #fff;
        font-weight: bold;
        letter-spacing: 0.1em;
        border: none;
        box-shadow: 2px 2px 4px#434343;
    }
}
.cont5_itm_button button::after{
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background: url(/img/modal.png) no-repeat;
    background-size: contain;
    margin-left: 1em;
}
// cont6----------------------------------------------------------
.side_right_cont6{
    background-color: #7B7B7B;
}
.side_right_cont6_wrapper{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 80px;
}
.side_right_cont6_box{
    width: 75%;
}
.side_right_cont6_itm{
    width: 75%;
    margin: 0 auto;
    img{
        vertical-align: bottom;
        object-fit: cover;
        width: 100%;
        height: 250px;
    }
}
.side_right_cont6_p{
    font-size: 1.7rem;
    color: #fff;
    font-weight: bold;
    text-align: left;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #7B7B7B;
}
// ２つのピンクボタンーーーーーーーーーーーーーーーーーーーーーーー
.cont6_itm_button{
    position: relative;
    padding: 20px 0 60px 0;
}
.cont6_itm_button_up{
    position: absolute;
    top: 17%;
    left: 10%;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    
    button{
        width: 200px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        margin: 0 auto;
        background-color: #EB68A0;
        font-size: 1.7rem;
        color: #fff;
        font-weight: bold;
        letter-spacing: 0.1em;
        border: 5px outset #EB68A0;
        border-radius: 30px;
    }
}
.cont6_itm_button_under{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    button{
        width: 207px;
        padding-top: 18px;
        padding-bottom: 18px;
        text-align: center;
        margin: 0 auto;
        color: #fff;
        background-color: #fff;
        border-radius: 30px;
        border: none;
        font-weight: bold;
        letter-spacing: 0.1em;
        font-size: 1.7rem;
    }
}
// 日本に生まれてよかったでしょーーーcont７"ーーーーーーーーーーーーーー
.side_right_cont7{
    width: 85%;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
}
.side_right_cont7_img{
    width: 50%;
    img{
        width: 100%;
        vertical-align: bottom;
    }
}
.side_right_cont7_box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.side_right_cont7_itm{
    padding-left: 20px;
    width: 80%;
}
.side_right_cont7_itm_ribbon{
    position: relative;
    background-color: #b0824d;
    padding: 13px 0 13px 0;
    p{
        color: #fff;
        font-weight: bold;
        font-size: 2.0rem;
        padding-left: 10px;
        letter-spacing: 0.1em;
    }
}
.side_right_cont7_itm_ribbon::after{
    content: "";
    position:absolute;
    top:0;
    right:0;
    width:0;
    height:0;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
    border-width: 25px 15px 25px 15px;
}
.side_right_cont7_itm_text{
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 10x;
    p{
        font-size: 1.9rem;
    }
}
.side_right_cont7_itm_button{
    width: 100%;
    .cont7_itm_button{
        position: relative;
        margin-top: 10px;
    }
    button{
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;

        background-color: #A29453;
        font-size: 1.9rem;
        color: #fff;
        font-weight: bold;
        letter-spacing: 0.1em;
        border: none;
        box-shadow: 2px 2px 4px#434343;
    }
}
.side_right_cont7_itm_button button::after{
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background: url(/img/link.png) no-repeat;
    background-size: contain;
    margin-left: auto;
    position: absolute;
    top: 36%;
    right: 10px;
}
// フッターーーーーーーーーーーー
footer{
    width: 960px;
    height: 400px;
    margin: 0 auto;
    background-color: #434343;
}
.footer_img{
    padding-top: 40px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.footer_p{
    margin-top: 200px;
    padding-left: 20px;
    font-size: 2.0rem;
    letter-spacing: 0.1em;
    font-weight: bold;
    color: #fff;
}

// モーダル部分ーーーーーーーーーーーーーーーーーーーー
.modal{
    display: none;
    z-index: 2;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 960px;
}
.modal_bg{
    background: rgba(39, 39, 39, 0.9);
    height: 100vh;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    
}
.modal_content{
    width: 50%;
    position: absolute;
    left: 50%;
    padding: 40px;
    top: 50%;
    transform: translate(-50%,-50%);
    
    img{
        width: 100%;
        height: 70vh;
        object-fit: contain;
    }
}
.js-modal-close{
    position: absolute;
    left: 75%;
    top: -2%;
    width: 15%;
    img{
        width: 45%;
        height: auto;
    }
}

// ■■■■■■■■■■■■■■■■■■■ここからレスポンシブ対応記述■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■

html {
    font-size: 48.5%;
}

@media only screen and (max-width: 600px){
    .wrapper{
        width: 100%;
        margin: 0 auto;
    }
// ヘッダーメニュー非表示ーーーーーーーーーーーーーーーーーーー
    .menu{
        display: none;
    }
// ハンバーガーナビメニューーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
.hamburger_nav{
    z-index: 2;
    position: absolute;
    top: 100px;
    transform: translateY(-200%);
    transition: all 0.2s;
    background: rgba(39, 39, 39, 0.9);
    width: 100%;
    height: 90vh;
    ul{
        width: 100%;
        list-style: none;
        text-align: center;
        align-items:center;
        margin: 0 auto;
        li{
            width: 100%;
            color: #fff;
            font-size: 2.8rem;
            font-weight: bold;
            margin: 0 auto;
            padding-top: 80px;
        }
        a{
            color: #fff;
            text-decoration: underline; 
        }
    }
}

#hamburger_nav a:hover{
    background-color: #fff;
    color: #000;
}
.nav-open{
    transform: translateY(0%);
}
// ハンバーガーの右アイコンーーーーーーーーーーーーーーーー
.hamburger{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    padding-top: 30px;
    padding-right: 30px;
    img{
        width: 90%;
    }
}

.btn-close{
    display: none;
}

// メインロゴーーーーーーーーーーーーーーー
    .main_rogo{
        width: 100%;
        text-align: center;
        margin: 0 auto;
        background-color: #434343;
        img{
            width: 70px;
            margin: 20px 0 0 0px;
        }
    }   
// メインスライドーーーーーーーーーーーーーー
    .main_slid{
        height: 350px;
        ul{
            img{
                height: 350px;
            }
        }
    }
// 左側カラム非表示ーーーーーーーーーーーーーーーーーーーーーーー
    .side_left{
        display: none;
    }
// 右側ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
    .side_right{
        width: 100%;
    }
// コンテンツ１スライドーーーーーーーーーーーーーーーーーーーーーー
    .side_right_cont1{
        display: none;
        width: 100%;
    }
    .side_right_cont1_box{
        width: 100%;
        margin: 0 auto;
    }
    .side_right_cont1_itm{
        width: 100%;
        margin: 0 auto;
        float: left;
        img{
        width: 100%;
            vertical-align: bottom;
        }
    }
    
    .youtube_box{
        width: 80%;
        .youtube_itm{
            iframe{
                height: 280px;
                width: 100%;
                padding-top: 30px;
                padding-bottom: 80px;
            }
        }
    }

    // 新着情報ーーーーーーーーーcont2"ーーーーーーーーーーーーーー
    .side_right_cont2_box{
        margin: 0 auto;
        display: table;
    }
    .side_right_cont2_itm{
        display:block;
        margin: 0 auto;
        margin-top: 20px;
        p{
            margin: 0 auto;
        }
        .cont2_itm_list{
            width: 90%;
            margin: 0 auto;
            padding-left: 0px;
            border-left: none;
            border-top: solid 3px #fff;;
        }
    }


    // 赤平いいとこいちどはおいでーーーcont3"ーーーーーーーーーーーーーー
    .side_right_cont3{
        width: 90%;
        margin-top: 60px;
    }
    .side_right_cont3_img{
        width: 100%;
        img{
            width: 100%;
            height: 300px;
        }
    }
    .side_right_cont3_box{
        display: block;

    }
    .side_right_cont3_itm{
        padding-left: 0px;
        margin-top: 30px;
        width: 100%;
    }
    .side_right_cont3_itm_button{
        justify-content: space-around;  
    }
    .cont3_itm_button{
        button{
            width: 180px;
        }
        
    }
    // レスポンシブ時のみのコンテンツ３部分ーーーーーーーーーーーーーーーーーー
    .responsive_cont3{
        .responsive_cont3_text_btn{
            display: flex;
            justify-content: space-around;
            width: 95%;
            margin: 0 auto;
            .cont3_itm_button{
                margin-top: 20px;
                margin-left: 20px;
            }
        }
        .side_right_cont3_itm_button{
            display: block;
            margin-top: 20px;
        }

    }
    // cont4----------------------------------------------------------
    .side_right_cont4{
        background-color: #7B7B7B;
    }
    .side_right_cont4_wrapper{
        width: 100%;
        display: block;
    }
    .side_right_cont4_box{
        width: 80%;
        margin: 0 auto;
    }
    .side_right_cont4_itm{
        width: 80%;
        margin-bottom: 10px;
        img{
            height: 300px;
        }
    }
    // ピンクボタンーーーーーーーーーーーーーーーーーーーーーーー
    .cont4_itm_button{
        display: none;
    }
    // 東京の空も悪くないーーーcont5"ーーーーーーーーーーーーーー
    .side_right_cont5{
        width: 90%;
        margin-top: 60px;
        margin-bottom: 80px;
    }
    .side_right_cont5_img{
        width: 100%;
        img{
            width: 100%;
            height: 300px;
            object-position: right bottom;
        }
    }
    .side_right_cont5_box{
        width: 100%;
        display: block;
    }
    .side_right_cont5_itm{
        padding-right: 0px;
        margin-top: 30px;
        width: 100%;
    }

    .side_right_cont5_itm_button{
        text-align: center;
        button{
            width: 70%;
        }
    }
    // cont6----------------------------------------------------------
    .side_right_cont6_wrapper{
        width: 100%;
        display: block;
    }
    .side_right_cont6_box{
        width: 80%;
        margin: 0 auto;
    }
    .side_right_cont6_itm{
        width: 80%;
        img{
            height: 300px;
        }
    }
    // ２つのピンクボタンーーーーーーーーーーーーーーーーーーーーーーー
    .cont6_itm_button{
        padding: 20px 0 80px 0;
    }
    .cont6_itm_button_up{
        top: 14.8%;
        button{
            width: 97%;
        }
    }
    .cont6_itm_button_under{
        button{
            width: 100%;
        }
    }
    // 日本に生まれてよかったでしょーーーcont７"ーーーーーーーーーーーーーー
    .side_right_cont7{
        width: 90%;
        margin-top: 60px;
    }
    .side_right_cont7_img{
        width: 100%;
        img{
            height: 400px;
        }
    }
    .side_right_cont7_box{
        width: 100%;
        display: block;
    }
    .side_right_cont7_itm{
        padding-left: 0px;
        margin-top: 40px;
        width: 100%;
    }
    // フッターーーーーーーーーーーー
    footer{
        width: 100%;
    }
    .footer_img{
        text-align: left;
        img{
            padding-left: 20px;
        }
    }
    // モーダル部分ーーーーーーーーーーーーーーーーーーーー
    .modal{
        width: 100%;
    }
    .modal_content{
        padding: 20px;
        img{
            width: 100%;
            height: 70vh;
            object-fit: contain;
        }
    }
    .js-modal-close{
        left: 80%;
        top: -25%;
        width: 10%;
    }
}
@media only screen and (max-width: 400px){
    .cont3_itm_button button {
        width: 100px;
        }
    .side_right_cont3_itm_button button{
        font-size: 1.4rem;
    }   
}

@media screen and (min-width: 600px) {
    .slider,.responsive_cont3,.responsive_btn,.hamburger_nav,.hamburger{
      display: none;
    }
  }